
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
   
      <ion-card-content>
        <div class="ion-text-center">
          <img src="assets/icon/png.png" style="width:50%">
        </div>
        <form [formGroup]="formularioLogin">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label position="floating" >Contraseña</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
      
        </form>
        <ion-button (click)="ingresar()">Ingresar  <ion-icon name=""></ion-icon></ion-button>
      </ion-card-content>
 </ion-card>
 </ion-content>
 <div class="ion-text-center">
  <img src="assets/icon/logo.jpg" style="width:50%">
</div>
<ion-footer >
  <ion-toolbar color="primary">
    <ion-buttons slot="end"><ion-button [routerLink]="['/registro']">Registrarse</ion-button> <ion-back-button slot="end"></ion-back-button></ion-buttons>
 +
  
  </ion-toolbar>
</ion-footer>
