<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of empleados">
      <ion-label>
        <h2>{{item.NombreTienda}}</h2>
        <h3>{{item.Direccion}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>