
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
     <ion-card-header>
       <ion-card-title><h5>*Datos obligatorios</h5></ion-card-title>
     </ion-card-header>
  
   <ion-card-content>
     <form [formGroup]="formularioRegistro" (key.enter)="guardar()">
      <ion-item>
        <ion-label position="floating">Nombre Completo*</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Clave conductor*</ion-label>
        <ion-input formControlName="clave"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña*</ion-label>
        <ion-input formControlName="contrasenia" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña*</ion-label>
        <ion-input formControlName="confirmarContrasenia" type="password"></ion-input>
      </ion-item>
     </form>
     <ion-button (click)="guardar()">Registrar</ion-button>
   </ion-card-content>
  </ion-card>
   </ion-content>

